#borang-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  right: 0;
  width: 120px;
  height: 80px;
  background-color: #00b4d8;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 9999;
}
